* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Futura, Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

h1 {
  font-size: 45px;
  margin-bottom: 50px;
  font-weight: 100;
  color: maroon;
}

.wrapper {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

.board {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  /* background-color: blue; */
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: maroon;
}

button {
  background: none;
  background-color: bisque;
  border: 2px maroon solid;
  border-radius: 5px;
  padding: 15px 30px;
  margin-top: 40px;
  color: maroon;
  box-shadow: 2px 2px 5px 2px rgba(128, 0, 0, 0.171);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  outline: none;
}

button:hover {
  background-color: maroon;
  color: bisque;
  border: 2px bisque solid;
}
